html {
font-size: 62.5%;
color: Navy /*DarkViolet CadetBlue*/;
text-shadow: 1px 1px 2px #000;
font-family: sans-serif;
}

@media(max-width: 75em) {
 html {
  font-size: 60%;
 }
}

@media(max-width: 61.25em) {
 html {
  font-size: 58%;
 }
}

@media(max-width: 28.75em) {
 html {
  font-size: 55%;
 }
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 padding: 3rem;
 background: DarkSeaGreen; 
}

#container {
 margin-top: 3rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 550px;
 height: 450px;
 background: #555;
 border: ridge 8px BurlyWood;
 box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.33);
}


#top-box {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100px;
 height: 100px;
 background: #555;
 border-left: 10px ridge transparent;
 border-right: 10px ridge transparent;
 border-top: 10px ridge transparent;
 border-bottom: 5px inset transparent; 
 border-radius: 10px;
}

#bottom-box {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100px;
 height: 100px;
 background: #555;
 border-left: 10px ridge transparent;
 border-right: 10px ridge transparent;
 border-top: 5px inset transparent; 
 border-bottom: 10px ridge transparent;
 border-radius: 10px;
}
